 <%if mode == "object"%>
    <div class="row" id="object_selector_header">
        <div class="col-md-6">
            <p>Search objects for </p>
            <p>
                <div class="btn-group ">
                    <button type="button" class="btn btn-success" onclick="QueryBuilder.properties.filter.select_object_filter_type('equals')" id="btn_object_selector_filter_type_equals">Equals to</button>
                    <button type="button" class="btn " onclick="QueryBuilder.properties.filter.select_object_filter_type('not_equals')" id="btn_object_selector_filter_type_not_equals">NOT Equals to</button>
                </div>
                <input id="hdn_object_selector_filter_type" type="hidden" value="equals" />
            </p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="QueryBuilder.objects.done_click()">Done</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row" >
        <div class="col-md-12" >
            <p  class="word-wrap"><h4 id="p_selected_objects" class="word-wrap"></h4></p>
        </div>
    </div>
    <div class="row" id="class_selector_class_main">
        <div class="col-md-12">
            <input type="hidden" id="hdn_objects_of_class" />
            <input type="hidden" id="hdn_selector_property_uri"/>
            <input type="hidden" id="hdn_selector_property_name"/>
            <input type="text" class="form-control" placeholder="Type in objects here ... " id="txt_search_objects" required >
            <input type="hidden" id="hdn_searched_object_value" />
            <input type="hidden" id="hdn_done_searching_object" value="false"/>
            <input type="hidden" id="hdn_selector_type" value="object" />
			
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="list-group" id="tbl_objects_search_result">

            </div>
        </div>
    </div>
    <div class="row" id="qb_object_search_loading" style="display:none;">
        <div class="col-md-12">
            <center><%=image_tag "jar-loading.gif" , :height=>"130px"%></center>
        </div>
    </div>
    <div class="row" id="qb_object_search_error"  style="display:none;">
        <div class="col-md-12 ">
            <div class="alert alert-danger" style="margin-top:20px;"></div>
        </div>
    </div>
<%else%>
    <div class"row">
        <div class="col-md-12">
            <p id="p_selector_has_range_holder"></p>
        </div>
    </div>
    <div class="row" id="object_selector_header">
        <div class="col-md-12" >
            <p  class="word-wrap"><h4 id="p_selected_objects" class="word-wrap"></h4></p>
        </div>
		
        <div class="col-md-6">
			<div class="col-md-2">
			  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" id="choose_val_operator_dd"><span id="sel_text_op"> = </span><span class="caret"></span>
			  </button>
			  <ul class="dropdown-menu">
  			    <li><a onclick="$('#hdn_val_operator').val('='); $('#sel_text_op').html('= ')">=</a></li>
			    <li><a onclick="$('#hdn_val_operator').val('>'); $('#sel_text_op').html('&gt; ')">&gt;</a></li>
			    <li><a onclick="$('#hdn_val_operator').val('<'); $('#sel_text_op').html('&lt; ')">&lt;</a></li>
			    <li><a onclick="$('#hdn_val_operator').val('>='); $('#sel_text_op').html('&ge; ')">&ge;</a></li>
			    <li><a onclick="$('#hdn_val_operator').val('<='); $('#sel_text_op').html('&le; ')">&le;</a></li>
			    <li><a onclick="$('#hdn_val_operator').val('!='); $('#sel_text_op').html('&ne; ')">&ne;</a></li>
			  </ul>
			 </div>
			 <div class="col-md-10">
            	 <input type="text" class="form-control" placeholder="Value" id="txt_filter_datatype"  >
			</div>
		
		     <input type="hidden" id="hdn_val_operator" value="="/>
            <input type="hidden" id="hdn_selector_property_uri"/>
            <input type="hidden" id="hdn_selector_property_name"/>
            <input type="hidden" id="hdn_selector_type" value="data" />
			
        </div>

			
			<div class="col-md-2">
			  <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown" disabled id="choose_operator_dd"><span id="sel_text">Operator</span>
			  <span class="caret"></span></button>
			  <ul class="dropdown-menu">
			    <li><a onclick="$('#hdn_operator').val('and'); $('#sel_text').html('AND')">AND</a></li>
			    <li><a onclick="$('#hdn_operator').val('or'); $('#sel_text').html('OR')">OR</a></li>
			  </ul>
			  <input type="hidden" id="hdn_operator" />
			</div>
			
        <div class="col-md-4">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-primary" onclick="QueryBuilder.objects.add_value()">Add</button>
                <button type="button" class="btn btn-success" onclick="QueryBuilder.objects.done_click()" data-dismiss="modal">Done</button>
            </div>
        </div>
        </div>
    </div>
	<script>
	    $(function () {
	        $('#choose_val_operator_dd').dropdown();
	    });
	</script>
<%end%>
