<div class="panel panel-default">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-8">
				<h4 class=""><%if mode == "builder"%>Equivalent SPARQL Query<%else%>SPARQL Query editor<%end%></h4>
			</div>
			<%if mode == "builder"%>
				<div class="col-md-4">
					<span class="pull-left" style="text-align:right; word-wrap:break-word; width:220px">
						Edit SPARQL Query directly?<br><small>Please note that editing the Query directly will disable the builder's features</small>
					</span>
					<span class="btn-group pull-right">
						<button class="btn" id="btn_edit_sparql_yes" onclick="$('#txt_sparql_query').removeAttr('readonly'); $('#btn_edit_sparql_yes').addClass('btn-success'); $('#btn_edit_sparql_no').removeClass('btn-success'); ">Yes</button>
						<button class="btn btn-success" id="btn_edit_sparql_no" onclick="$('#txt_sparql_query').attr('readonly','readonly');$('#btn_edit_sparql_yes').removeClass('btn-success'); $('#btn_edit_sparql_no').addClass('btn-success');">No</button>
					</span>
				</div>
			<%end%>

		</div>
	</div>
	<div class="panel-body" >
	    <div class="row " >
	        <div class="col-md-12">
	            <textarea  readonly rows="12" id="txt_sparql_query" style="width:100%;" placeholder="Type your SPARQL query here ..." class="form-control"></textarea>
	        </div>
	    </div>
	</div>
	<div class="panel-footer">
	    <div class="row">
	        <div class="col-md-3">
	        	<div class="btn-group">
		            <button  type="button" class="btn btn-lg btn-success" onclick="execute_sparql_query()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-play"></span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
		            <button  type="button" class="btn btn-lg btn-warning" onclick="show_sparql_download_modal()">&nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-save"></span>&nbsp;&nbsp;&nbsp;&nbsp;</button>
	        	</div>
	        </div>
	        <%if mode=="builder"%>
		        <div class="col-md-3">
		        	<div class="form-group">
					    <label for="txt_sparql_query_limit" class="col-sm-2 control-label" style="margin-top:5px;">Limit</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="txt_sparql_query_limit" placeholder="Limit" value="200">
					    </div>
					</div>
		        </div>
	        <%end%>
	        <%if mode == "sparql"%>
		        <div class="col-md-3 pull-right">
		        	<button onclick="generate_sample_query('1')" type="button" class="btn btn-lg btn-info pull-right">Sample Query</button>
		        </div>
	        <%end%>
	    </div>
	</div>
</div>
<div class="hide">
<textarea rows="5" id="txt_sample_query_1" >select distinct ?Concept where {[] a ?Concept} LIMIT 100</textarea>
</div>
<%if mode == "builder"%>
	<script>
		$("#txt_sparql_query_limit").change(function(){
			QueryBuilder.show_equivalent_sparql_query();
		});
	</script>
<%end%>
