<div class="main-container">
	<div class="row">
		<div class="col-md-12">
			<h4>Please follow the steps to build your query</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			<div class="row">
				<div class="col-md-12">
					STEP 1 : Select Dataset
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>
		</div>
		<div class="col-md-3 hide">
			<div class="row">
				<div class="col-md-12">
					STEP 2 : Select Class
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>
		</div>
		<div class="col-md-3 hide">
			<div class="row">
				<div class="col-md-12">
					STEP 3 : Select Property (Optional)
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>
		</div>
		<div class="col-md-3 hide">
			<div class="row">
				<div class="col-md-12">
					STEP 4 : Select Inequaly and type in values (Optional)
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					
				</div>
			</div>
		</div>
	</div>
</div>
