<div class="main-container">
    <div class="row">
        <div class="col-md-12">
            <h4>Please follow the steps to build your query</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    STEP 1 : Select Dataset
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="dropdown">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dd_select_dataset" data-toggle="dropdown">
                        Select
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dd_select_dataset">
                        <%get_datasets.each do |k,v|%>
                           <li role="presentation"><a role="menuitem" tabindex="-1" onclick="QueryBuilder.selected_dataset('<%=v%>')"><%=k%></a></li> 
                        <%end%>
                      </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3" id="div_qb_select_class" style="display:none;">
            <div class="row">
                <div class="col-md-12">
                    STEP 2 : Select Class
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
        <div class="col-md-3" style="display:none;">
            <div class="row">
                <div class="col-md-12">
                    STEP 3 : Select Property (Optional)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
        <div class="col-md-3 " style="display:none;">
            <div class="row">
                <div class="col-md-12">
                    STEP 4 : Select Inequaly and type in values (Optional)
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    
                </div>
            </div>
        </div>
    </div>
</div>
