<div class="main-container">
	<div class="row">
		<div class="col-md-12">
			<h4>Please follow the steps to build your query</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
			STEP 1
		</div>
		<div class="col-md-3">
			STEP 2
		</div>
		<div class="col-md-3">
			STEP 3
		</div>
		<div class="col-md-3">
			STEP 4
		</div>
	</div>
</div>
