<div class="main-container">
	<div class="row">
		<div class="col-md-8">
			<textarea rows="5" id="txt_sparql_query" style="width:100%;" placeholder="Type your SPARQL query here ..."></textarea>
		</div>
		<div class="col-md-1">
			<button  type="button" class="btn btn-lg btn-success" onclick="execute_sparql_query()">Run !</button>
		</div>
		<div class="col-md-2" style="margin-left:20px;">
			<button onclick="generate_sample_query('1')" type="button" class="btn btn-xs btn-info">Sample Query</button>
		</div>
	</div>
	<div class="row" id="sparql_results_container" style="display:none;">
		<div class="col-md-12 " style="margin-top:20px;">
			<div class="row">
				<div class="col-md-6">
					<button type="button" class="btn btn-danger" onclick="show_sparql_download_modal()"><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Download</button>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12" style="margin-top:20px;">
					<table class="table table-striped" id="sparql_results_table">
		      			<thead>

		      			</thead>
		      			<tbody>
		        
		      			</tbody>
		    		</table>
    			</div>
    		</div>
		</div>
	</div>
</div>
<div class="hide">
	<textarea rows="5" id="txt_sample_query_1" >PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?subject ?label 
WHERE { ?subject rdfs:label ?label. 
FILTER(langMatches(lang(?label), "EN"))} LIMIT 200</textarea>
</div>
<div class="modal fade" id="sparql_download_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="sparql_download_modal_title">Download Result Set</h4>
      </div>
      <div class="modal-body">
        <div class="btn-group ">
  			<button type="button" class="btn btn-default btn-primary" onclick="download_sparql_result_set('rdb')"><span class="glyphicon glyphicon-list-alt"></span>&nbsp;RDB Script</button>
  			<button type="button" class="btn btn-default btn-success" onclick="download_sparql_result_set('csv')"><span class="glyphicon glyphicon-align-justify"></span>&nbsp;CSV</button>
  			<button type="button" class="btn btn-default btn-info"><span class="glyphicon glyphicon-road"></span>&nbsp;JSON</button>
  			<button type="button" class="btn btn-default btn-warning"><span class="glyphicon glyphicon-file"></span>&nbsp;PDF</button>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>