<div class="main-container panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12">
				<%=render :partial=>"query/sparql_query_editor", :locals=>{:mode=>"sparql"}%>
			</div>
		</div>
		<%=render :partial=>"query/search_results"%>
		<input type="hidden" id="hdn_qb_dataset" value="http://dbpedia.org/sparql">
	</div>
</div>

