<div class="main-container">
	<div class="row">
		<div class="col-md-8">
			<textarea rows="5" id="txt_sparql_query" style="width:100%;" placeholder="Type your SPARQL query here ..."></textarea>
		</div>
	</div>
</div>