<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation" id="top_navbar">
  <ul class="nav navbar-nav">
    <li>
      <a href="#">Getting started</a>
    </li>
    <li>
      <a href="<%=query_sparql_path%>">SPARQL</a>
    </li>
    <li >
      <a href="../components">Query Builder</a>
    </li>
    <li>
      <a href="<%=developer_docs_path%>">Developer</a>
    </li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>

