<input type="hidden" id="hdn_qb_dataset" value="">
<div id="div_select_dataset" style="display:none" class="done-dataset">
    <div class="row">
        <div class="col-md-8 select-body" >

        </div>
        <div class="col-md-4">
            <span class="glyphicon glyphicon-remove" onclick="QueryBuilder.reset_dataset()"></span>
        </div>
    </div>
</div>
