<h1>Developer#docs</h1>
<p>Find me in app/views/developer/docs.html.erb</p>
<div>
	<input type="file" id="files" name="files[]" multiple />
	<output id="list"></output>
</div>
<script>
document.getElementById('files').addEventListener('change', handleFileSelect, false);
</script>