$darkPurple: #19193A !default;
$lightPurple: #3E3E4E !default;
$lighterPurple: #69697E !default;
$white: #fff !default;
$lighterBlue: #CCEBFF !default;
$brandPrimary: #428bca !default;
$darkBlue : darken($brandPrimary, 20%) !default;
$darkestBlue : darken($darkBlue, 10%) !default;
$lightBlue : lighten($brandPrimary, 20%) !default;
