@import "variables";


body {
  position: relative; 
  background: url(sos.png);
}

#top_navbar{
	background-color:$darkPurple;
}

#top_navbar ul li a{
	color:white;
}

#top_navbar ul li a:hover{
	background-color:$lightPurple;
}

#top_navbar ul li a.active{
	background-color:$lighterPurple;
}

.main-container{
	position:relative;
	margin-top:30px;
	margin-bottom:30px;
	padding:15px;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: $darkPurple;
	background-color: $white;
}


#loading {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    background-color:$lighterBlue;
    opacity: .8;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 350px;;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px;  /* -1 * image height / 2 */
    display: block;   
    z-index:9999999;  
}