@import "variables";


body {
  position: relative; 
  background: url(sos.png);
}

#top_navbar{
	background-color:$darkPurple;
}

#top_navbar ul li a{
	color:white;
}

#top_navbar ul li a:hover{
	background-color:$lightPurple;
}

#top_navbar ul li a.active{
	background-color:$lighterPurple;
}

.main-container{
	position:relative;
	margin-top:30px;
	padding:15px;
	border-style:solid;
	border-width:1px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border-color: $darkPurple;
	background-color: $white;
}
